.content{ "darker-background" => true }
  .row.footer-pad{ style: "padding-bottom: 1px;" }
    .small-12.columns{ "data-controller": "login-modal" }
      %p
        = t('shop.messages.customer_required.visitor_link_html', login: ('<a data-action="click->login-modal#call">' + t('shop.messages.customer_required.login') + '</a>').html_safe, inscription: ( '<a data-action="click->login-modal#call">' + t('register_title').downcase + '</a>').html_safe)
