%p
  Bonjour,

%p
  Comme convenu, nous vous avons crédité un avoir de 
  = "#{@discount}€"

%p
  Il sera déduit de vos prochains achats automatiquement

%p
  Merci de votre soutien à notre réseau

%p
  La Belle Orange